@CHARSET "UTF-8";

#confirmboxLayer {
	min-height: 800px;
	height: auto;
	margin: 0 auto;
	max-width: 1600px;
	min-width: 800px;
	position: absolute;
	top: 4.5em;
	width: auto;
	z-index: 100;
	display: none;
}

#confirmbox {
	z-index: 100;
	width: 400px;
	height: 120px;
	position: absolute;
}

#confirmbox .header, #confirmbox .body {
	width: 100%;
	float: left;
	background-color: #e3e3e3;
	height: 20px;
	padding: 10px 20px;
}

#confirmbox .header {
	border: 1px solid #e3e3e3;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
}

#confirmbox .body {
	height: 100px;
	background-color: #cbcbcb;
	border: 1px solid #cbcbcb;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#confirmbox input.confirm, #confirmbox input.cancel {
	padding: 5px 20px;
	color: #fff;
	border-radius: 10px;
	margin-top: 10px;
}

#confirmbox input.confirm {
	background-color: #6daac9;
	color: #fff;
	border-radius: 10px;
	float: left;
	border: 2px outset #6daac9;
}

#confirmbox input.cancel {
	background-color: #a2a2a2;
	border: 2px outset #a2a2a2;
	float: right;
}

#confirmbox input.confirm:hover {
	border: 2px inset #6daac9;
}

#confirmbox input.cancel:hover {
	border: 2px inset #a2a2a2;
}