#wrapper, #header_admin, #content, #adminContent {
	z-index: 1
}

/* Header */
#header_admin {
	border: 1px solid black;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #b49fb3;
	height: 4em;
	margin-bottom: 10px;
}

#header_admin h1, .item_header h1 {
	display: inline-block;
	width: 25%;
	margin-top: 0.8em;
	color: #fff
}

#header_admin nav, .item_header nav {
	display: inline-block;
	width: 60%;
	float: right;
	margin-top: 0.8em;
}
#header_admin nav {
	padding-right:10px;
}
#header_admin nav ul {
	display:inline-block;
	float:right;
}
#header_admin nav li:first-child {
    padding-right:0;
    border-right:0;
}

#header_admin nav li, .item_header nav li {
	background-color: inherit;
	border: 0px;
	padding-right: 15px;
	border-radius: 0;
	border-right: 2px dashed black;
	color: #fff;
	cursor: pointer;
	float: right;
}

#header_admin nav li a, .item_header nav li a {
	font-weight: normal;
	color: #fff;
	text-decoration: none;
}

#menu_wrapper {
	height: auto;
	margin: 0 auto;
	max-width: 1600px;
	min-width: 800px;
	width: auto;
	top: 4.5em;
	position: absolute;
}

#admin_panel, #admin_panel .tab_content, #admin_panel .tab_header,
	#menu_wrapper {
	z-index: 1000;
}

#admin_panel {
	width: 85%;
	margin: auto;
	height: 400px;
}

#admin_panel .tab_content {
	background-color: #fff;
}

.menu_item {
	width: 31%;
	margin: 10px 0.5%;
	border: 1px solid black;
	border-radius: 5px;
	float: left;
	height: 175px;
	padding: 5px;
}

.menu_item h2, .menu_item p {
	margin-left:40px;
	cursor: pointer;
}

.menu_item h2 img {
	display:inline-block;
	float:left;
	width:25px;
	height:25px;
	margin-right:5px;
}

#adminContent {
	width: 80%;
	margin: auto;
	margin-top: 20px;
	display: none;
}

table {
	width: 95%;
}

fieldset {
	border: 0;
}

.item_header {
	border: 1px solid #b49fb3;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #b49fb3;
	float: left;
	width: 100%
}

.item_header h1 {
	margin: 10px; 10%;
	font-size: 1.5em;
	color: #fff
}

.item_body {
	padding: 1.5%;
	float: left;
	width: 97%;
	background-color: #fff;
	border: 1px solid grey;
	border-top: 0;
}