<?xml version="1.0" encoding="UTF-8"?>
<module>
    <name>General</name>
    <author>Youconix</author>
    <description>General tasks for the framework Miniature-happiness</description>
    <version>1.0</version>
    <install>install.php</install>
    <upgrade/>
    <deinstall>deinstall.php</deinstall>
	<title>system/menu/general</title>
	<js>js/general.js, js/users.js, js/groups.js, js/page_rights.js,
		js/logs.js</js>
	<css>general.css</css>
	<block>
		<title>system/admin/general/users</title>
		<id>admin_general_users</id>
	</block>
	<block>
		<title>system/admin/general/groups</title>
		<id>admin_general_groups</id>
	</block>
	<block>
		<title>system/admin/general/page_rights</title>
		<id>admin_general_page_rights</id>
	</block>
	<block>
		<title>system/admin/general/updates</title>
		<id>admin_general_updates</id>
	</block>
	<block>
		<title>system/admin/general/backup</title>
		<id>admin_general_backup</id>
	</block>
	<block>
		<title>system/admin/general/maintenance</title>
		<id>admin_general_maintenance</id>
	</block>
	<block>
		<title>system/admin/general/cache</title>
		<id>admin_general_cache</id>
	</block>
	<block>
		<title>system/admin/general/modules</title>
		<id>admin_general_modules</id>
	</block>
</module>