<?xml version="1.0" encoding="UTF-8"?>
<module>
	<name>General</name>
	<author>Youconix</author>
	<description>General tasks for the framework Miniature-happiness</description>
	<version>1.0</version>
	<install />
	<upgrade />
	<deinstall />
	<title>system/menu/general</title>
	<js>general.js</js>
	<css>general.css</css>
	<block>
		<title>system/admin/general/users</title>
		<id>admin_general_users</id>
		<link>
			<title>system/admin/users/headerAdd</title>
			<id>admin_general_users_add_user</id>
		</link>
	</block>
	<block>
		<title>system/admin/general/groups</title>
		<id>admin_general_groups</id>
		<link>
			<title>system/admin/groups/headerAdd</title>
			<id>admin_general_groups_add_group</id>
		</link>
	</block>
	<block>
		<title>system/admin/general/page_rights</title>
		<id>admin_general_page_rights</id>
	</block>
	<block>
		<title>system/admin/general/updates</title>
		<id>admin_general_updates</id>
		<link>
			<title>system/admin/updates/checkUpdate</title>
			<id>admin_updates_checkupdate</id>
		</link>
	</block>
	<block>
		<title>system/admin/general/backup</title>
		<id>admin_general_backup</id>
		<link>
			<title>system/admin/maintenance/createBackup</title>
			<id>admin_backup_createbackup</id>
		</link>
		<link>
			<title>system/admin/maintenance/restoreBackup</title>
			<id>admin_backup_restorebackup</id>
		</link>
	</block>
	<block>
		<title>system/admin/general/maintenance</title>
		<id>admin_general_maintenance</id>
		<link>
			<title>system/admin/maintenance/optimizeDatabase</title>
			<id>admin_general_optimize_database</id>
		</link>
		<link>
			<title>system/admin/maintenance/checkDatabase</title>
			<id>admin_general_checkDatabase</id>
		</link>
		<link>
			<title>system/admin/maintenance/stats</title>
			<id>admin_general_stats</id>
		</link>
	</block>
	<block>
		<title>system/admin/general/cache</title>
		<id>admin_general_cache</id>
		<link>
			<title>system/admin/cache/languageCache</title>
			<id>admin_general_cache_language</id>
		</link>
		<link>
			<title>system/admin/cache/siteCache</title>
			<id>admin_general_cache_site</id>
		</link>
	</block>
	<block>
		<title>system/admin/general/modules</title>
		<id>admin_general_modules</id>
	</block>
</module>