<?xml version="1.0" encoding="UTF-8"?>
<module>
    <title>system/menu/general</title>
    <js>js/general.js, js/users.js, js/groups.js, js/page_rights.js, js/logs.js</js>
    <css>general.css</css>
    <block>
        <title>system/admin/general/users</title>
        <id>admin_general_users</id>
        <link>
            <title>system/admin/users/users</title>
            <id>admin_general_users2</id>
        </link>        
        <link>
            <title>system/admin/users/headerAdd</title>
            <id>admin_general_add_user</id>
        </link>
    </block>    
    <block>
        <title>system/admin/general/groups</title>
        <id>admin_general_groups</id>
        
        <link>
            <title>system/admin/groups/groups</title>
            <id>admin_general_groups2</id>
        </link>
        <link>
            <title>system/admin/groups/headerAdd</title>
            <id>admin_general_group_add</id>
        </link>
    </block>
    <block>
        <title>system/admin/general/page_rights</title>
        <id>admin_general_page_rights</id>
    </block>    
    <block>
        <title>system/admin/general/logs</title>
        <id>admin_general_logs</id>
    </block>
    <block>
        <title>system/admin/general/updates</title>
        <id>admin_general_updates</id>
    </block>
    <block>
        <title>system/admin/general/backup</title>
        <id>admin_general_backup</id>
    </block>
    <block>
        <title>system/admin/general/maintenance</title>
        <id>admin_general_maintenance</id>
    </block>
    <block>
        <title>system/admin/general/cache</title>
        <id>admin_general_cache</id>
    </block>
    <block>
        <title>system/admin/general/modules</title>
        <id>admin_general_modules</id>
    </block>
</module>
