Options +FollowSymLinks -MultiViews
<ifModule mod_headers.c>
    RequestHeader  edit "If-None-Match" "^\"(.*)-gzip\"$" "\"$1\""
    Header  edit "ETag" "^\"(.*[^g][^z][^i][^p])\"$" "\"$1-gzip\""
</ifModule>

RewriteEngine on
RewriteBase /

RewriteRule "^(.*/)?\.git/" - [F,L]

RedirectMatch seeother ^/login(\.php)? /authorization/login/index
RedirectMatch seeother ^/registration(\.php)? /authorization/registration/index

RewriteRule ^combiner/([a-zA-Z]+)/([a-zA-Z0-9_,\-\.\:\;\/\\]+)$ /vendor/youconix/core/Combiner.php?type=$1&files=$2 [L]

RewriteRule ^index.php /router.php/index/view [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./router.php/$1 [L,QSA]
