Options +FollowSymLinks -MultiViews
<ifModule mod_headers.c>
    RequestHeader  edit "If-None-Match" "^\"(.*)-gzip\"$" "\"$1\""
    Header  edit "ETag" "^\"(.*[^g][^z][^i][^p])\"$" "\"$1-gzip\""
</ifModule>

RewriteEngine on
RewriteBase /

RewriteRule "^(.*/)?\.git/" - [F,L]

RedirectMatch seeother ^/login(\.php)? /authorization/login/index
RedirectMatch seeother ^/registration(\.php)? /authorization/registration/index

RewriteRule ^index.php$ /router.php?router=index/view [L]
RewriteRule ^admin/?$ /router.php?router=admin/index/view [L]
RewriteRule ^admin/index.php$ /router.php?router=admin/index/view [L]
RewriteRule ^admin/modules/([a-zA-Z\-_/]+)/([0-9]+)$ /router.php?router=admin/modules/$1&userid=$2 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([a-zA-Z0-9\-_/]+)/details/(.*?)$ /router.php?router=$1&query=$2 [L]
RewriteRule ^([a-zA-Z0-9\-_/]+)$ /router.php?router=$1& [L]
