<?xml version="1.0" encoding="UTF-8"?>
<module>
    <name>Settings</name>
    <author>Youconix</author>
    <description>Settings module for the framework Miniature-happiness</description>
    <version>1.0</version>
    <install>install.php</install>
    <upgrade/>
    <deinstall>deinstall.php</deinstall>
	<title>system/menu/settings</title>
	<js>settings.js</js>
	<css>settings.css</css>
	<block>
		<title>system/admin/settings/email</title>
		<id>admin_settings_email</id>
		<click>settings.show('email')</click>
	</block>
	<block>
		<title>system/admin/settings/smtp</title>
		<id>admin_settings_smtp</id>
		<click>settings.show('users')</click>
	</block>
	<block>
		<title>system/admin/settings/general</title>
		<id>admin_settings_general</id>
		<click>settings.show('general')</click>
	</block>
	<block>
		<title>system/admin/settings/login</title>
		<id>admin_settings_login</id>
		<click>settings.show('login')</click>
	</block>
	<block>
		<title>system/admin/settings/sessions</title>
		<id>admin_settings_sessions</id>
		<click>settings.show('sessions')</click>
	</block>
	<block>
		<title>system/admin/settings/templates</title>
		<id>admin_settings_templates</id>
		<click>settings.show('templates')</click>
	</block>
	<block>
		<title>system/admin/settings/database</title>
		<id>admin_settings_database</id>
		<click>settings.show('database')</click>
	</block>
</module>