

/* Icons */
#admin_settings_email h2, #admin_settings_smtp h2, #admin_settings_general h2, #admin_settings_database h2, #admin_settings_login h2, #admin_settings_sessions h2,
 #admin_settings_templates h2 {
    background-image:url('icons/youconix.png');
    background-size:25px;
    background-repeat: no-repeat;
    padding-left:30px;
}

#admin_settings_email h2, #admin_settings_smtp h2 {
	background-position:0px 0px;
}
#admin_settings_general h2, #admin_settings_database h2 {
	background-position:0px -33px;
}
#admin_settings_login h2, #admin_settings_sessions h2 {
	background-image:url('../general/icons/youconix.png');
    background-position:0 -225px;	
}
#admin_settings_templates h2 {
    background-position:0px -62px;
}