#settings fieldset label.label {
	width: 30%;
}

#settings_general_title {
	width: 50%;
}

/* Icons */
#admin_settings_email h2, #admin_settings_general h2,
	#admin_settings_database h2, #admin_settings_login h2,
	#admin_settings_sessions h2, #admin_settings_cache h2,
	#admin_settings_ssl h2,
	#admin_settings_languages h2, #settings_email_title,
	#settings_general_title, #settings_login_title,
	#settings_sessions_title, #settings_templates_title,
	#settings_database_title,#settings_language_title,#settings_ssl_title  {
	background-image: url('icons/youconix.png');
	background-size: 25px;
	background-repeat: no-repeat;
	padding-left: 30px;
}

#admin_settings_email h2, #settings_email_title {
	background-position: 0px 0px;
}

#admin_settings_general h2, #admin_settings_database h2,
	#settings_general_title, #settings_database_title {
	background-position: 0px -33px;
}

#admin_settings_login h2, #admin_settings_sessions h2,
	#settings_login_title, #settings_sessions_title {
	background-image: url('../general/icons/youconix.png');
	background-position: 0 -225px;
}

#admin_settings_cache h2, #admin_settings_languages h2,
	#admin_settings_cache, #settings_language_title {
	background-position: 0px -62px;
}
#admin_settings_ssl h2, #settings_ssl_title {
	background-image: url('../general/icons/youconix.png');
	background-position: 0 -165px;
}