input[type=text].invalid, input[type=password].invalid, input[type=number].invalid,
	input[type=email].invalid, input[type=url].invalid, input[type=tel].invalid,
	textarea.invalid {
	border: 2px solid red;
	background-image: url(../images/icons/invalid.png);
	background-repeat: no-repeat;
	background-position: 95%;
	background-size: 10px 10px;
}

input[type=text].valid, input[type=password].valid, input[type=number].valid,
	input[type=email].valid, input[type=url].valid, input[type=tel].valid,
	textarea.valid {
	background-image: url(../images/icons/valid.png);
	background-repeat: no-repeat;
	background-position: 95%;
	background-size: 10px 10px;
}

select.invalid {
	background-color: #e34e4e;
	color: #111;
}