#passwordIndicator div {	height:12px; width:12px; float:left; margin-right:2px; }
#passwordStrength { min-width:250px; max-width:300px; width:auto; padding:4px; border:1px solid #ece9e9;
		    border-left:1px solid #dedbdb; border-top:1px solid #dedbdb;
		    background-color:#FFF;
		    color:#111;
		    ms-border-radius:5px;
		    webkit-border-radius:5px;
		    border-radius:5px;
		    moz-box-shadow: 10px 10px 5px #888888;
		    webkit-box-shadow: 10px 10px 5px #888888;
		    ms-box-shadow: 10px 10px 5px #888888;
		    box-shadow: 10px 10px 5px #888888;
		    display:none;
		    position:absolute;
}
#passwordIndicator { width:99.99%; height:15px; }  
.passwordRed	{ background-color:red; }	
.passwordYellow { background-color:yellow; }
.passwordGreen {	background-color:green; }