<?xml version="1.0" encoding="UTF-8"?>
<module>
    <name>Statistics</name>
    <author>Youconix</author>
    <description>Statistics module for the framework Miniature-happiness</description>
    <version>1.0</version>
    <install>install.php</install>
    <upgrade/>
    <deinstall>deinstall.php</deinstall>
	<title>system/menu/statistics</title>
	<js>statistics.js</js>
	<css>statistics.css</css>
	<block>
		<title>system/admin/statistics/hits</title>
		<id>admin_statistics_hits</id>
		<click>statistics.show('hits')</click>
	</block>
	<block>
		<title>system/admin/statistics/visitors</title>
		<id>admin_statistics_visitors</id>
		<click>statistics.show('visitors')</click>
	</block>
	<block>
		<title>system/admin/statistics/os</title>
		<id>admin_statistics_os</id>
		<click>statistics.show('os')</click>
	</block>
	<block>
		<title>system/admin/statistics/browsers</title>
		<id>admin_statistics_browsers</id>
		<click>statistics.show('browsers')</click>
	</block>
	<block>
		<title>system/admin/statistics/screen_colors</title>
		<id>admin_statistics_screen_colors</id>
		<click>statistics.show('screen_colors')</click>
	</block>
	<block>
		<title>system/admin/statistics/references</title>
		<id>admin_statistics_references</id>
		<click>statistics.show('references')</click>
	</block>
	<block>
		<title>system/admin/statistics/pages</title>
		<id>admin_statistics_pages</id>
		<click>statistics.show('pages')</click>
	</block>
</module>