<?xml version="1.0" encoding="UTF-8"?>
<module>
    <name>Statistics</name>
    <author>Youconix</author>
    <description>Statistics module for the framework Miniature-happiness</description>
    <version>1.0</version>
    <install>install.php</install>
    <upgrade/>
    <deinstall>deinstall.php</deinstall>
	<title>system/menu/statistics</title>
	<js>statistics.js</js>
	<css>statistics.css</css>
	<block>
		<title>system/admin/statistics/hits</title>
		<id>admin_statistics_hits</id>
	</block>
	<block>
        <title>system/admin/statistics/hits_hours</title>
        <id>admin_statistics_hits_hours</id>
    </block>
	<block>
		<title>system/admin/statistics/os</title>
		<id>admin_statistics_os</id>
	</block>
	<block>
		<title>system/admin/statistics/browsers</title>
		<id>admin_statistics_browsers</id>
	</block>
	<block>
		<title>system/admin/statistics/screen_colors</title>
		<id>admin_statistics_screen_colors</id>
	</block>
	<block>
        <title>system/admin/statistics/screen_sizes</title>
        <id>admin_statistics_screen_sizes</id>
    </block>
	<block>
		<title>system/admin/statistics/references</title>
		<id>admin_statistics_references</id>
	</block>
	<block>
		<title>system/admin/statistics/pages</title>
		<id>admin_statistics_pages</id>
	</block>
</module>