input[type=text].invalid, input[type=password].invalid, input[type=number].invalid,
	input[type=email].invalid, input[type=url].invalid, input[type=tel].invalid,
	textarea.invalid {
	/* border: 2px solid red; */
	background-image: url(../images/icons/invalid.png);
	background-repeat: no-repeat;
	background-position: 95%;
	background-size: 10px 10px;
}

input[type=text].valid, input[type=password].valid, input[type=number].valid,
	input[type=email].valid, input[type=url].valid, input[type=tel].valid,
	textarea.valid {
	background-image: url(../images/icons/valid.png);
	background-repeat: no-repeat;
	background-position: 95%;
	background-size: 10px 10px;
}

select.invalid {
	background-color: #e34e4e;
	color: #111;
}

.validation-error-message {
	display:inline-block;
	margin:5px;
	border:4px solid grey;
	background-color:grey;
	color:white;
	padding:4px;
	max-width:350px;
	height:auto;
	ms-border-radius:5px;
	webkit-border-radius:5px;
	border-radius:5px;
	moz-box-shadow: 10px 10px 5px #888888;
	webkit-box-shadow: 10px 10px 5px #888888;
	ms-box-shadow: 10px 10px 5px #888888;
	box-shadow: 10px 10px 5px #888888;
}